<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/bootstrap.css}" />

</head>
<body>
	<div th:insert="includes/header"></div>
	
	<form action="#" th:action="@{/employee/saveOrder}" th:object="${order}"
		method="post">

		<input type="hidden" th:field="*{id}"/>
		<input type="hidden" th:field="*{customer.id}"/>
		<input type="hidden" th:field="*{dateOfOrder}"/>
		
		<div class="form-group">
			<label for="first-name"> Customer's First Name</label> 
			<input class="form-control" type="text"
				id="first-name" th:field="*{customer.firstName}" readonly>
		</div>

		<div class="form-group">
			<label for="last-name">Customer's Last Name</label> 
			<input class="form-control" type="text"
				id="last-name" th:field="*{customer.lastName}" readonly />
		</div>

		<div class="form-group">
			<label for="address-label">Customer's Address</label> 
			<input class="form-control" type="text" id="address-label"
				th:field="*{customer.address}" readonly />
		</div>

		<div class="form-group">
			<label for="email-label">Email</label> 
			<input class="form-control" type="text" id="email-group"
				th:field="*{customer.email}" readonly />
		</div>
		
		<div class="form-group">
			<label for="product-name">Select Product</label> 
			<select class="form-control" th:field="*{productId}">
				<option th:if="${order.product !=null}" th:selected="${order.product}"
						th:value="${order.product.id}"
						th:text="${order.product.name}"></option>
				<option th:each="product: ${products}"
						th:value="${product.id}"
						th:text="${product.Name}"/>
			</select>
		
		</div>
		
		<div class="form-group">
			<label for="quantity-label">Quantity</label> 
			<input class="form-control" type="text"
				id="quantity-label" th:field="*{quantity}" />	
		
		</div>
		
			<div class="form-group">
				<input class="form-control"type="submit" value="Submit" />
			</div>
	</form>


</body>
</html>